# Logs
logs
*.log

# Dependency directories
node_modules/
pnpify/
.pnp
yarn.lock

# Build files
dist/
build/
out/

# Environment variables
.env

# Mac files
.DS_Store

# Editor-specific files
*.swp
*.swo
.vscode/

# IDE files
.idea/
*.idea
*.iml

# Windows-specific files
Thumbs.db

# Local development
.env.local
.env.development.local
.env.test.local
.env.production.local
